* 
*::after
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTS */
    --heading-font-family: "Fraunces", serif;
    --main-font-family: "Barlow" . sans-serif;

    /* COLORS */
    --Dark-Cyan:#0E8784;
    --Dark-Grey-Blue:#333D4B;
    --Pale-Orange:#FDD6BA;
    --Light-Cream:#FEFCF7;
    --Grey:#83888F;
    --button-hover:#66D2CF;
}

img {
    display: flex;
    object-fit: cover;
}

a {
    text-decoration: none;
}

ul , ol {
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var( --main-font-family);
    font-weight: 400;
    line-height: 26px;
    background-color: var(--Light-Cream);
}

h1,h2,h3,h4 {
    font-family: var(--heading-font-family);
}

h1 {
    font-size: 72px;
    line-height: 72px;
}

h2 {
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-size: 32px;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
}
                       
                                    /* HEADER   */
.header {
  padding-top: 44px;
  padding-bottom: 45px ;

}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav__list {
    display: flex;
    gap: 33px;
    
}

.sitenav__link {
    color: var(--Grey);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0.923px;
}

.sitenav__link:hover {
    color: #333D4B;
}
                               /* FOTTER */

.fotter {
padding-bottom: 50px;
}

.inner__wrapper {
   display: flex;  
    background-color: var(--Dark-Grey-Blue);
   align-items: center;
    padding-top: 47px;
    padding-bottom: 47px;
    padding-left: 85px;
    padding-right: 85px;
}

.sitenav__fotter {
    margin-right: auto;
}
.fotter__sitenav__list {
    display: flex;
   margin-left: 103px;
   gap: 33px;
    
}
.fotter__sitenav__link {
    
    color: var(--Grey);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0.923px;
}

.fotter__sitenav__link:hover {
  color: var(--Light-Cream);
}
.fotter__socials__list {
    display: flex;
    gap: 33px;
}

.fotter__socials__list__link:hover {
  svg path {
    fill: var(--Pale-Orange);
  }
}   