* 
*::after
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTS */
    --heading-font-family: "Fraunces", serif;
    --main-font-family: "Barlow" . sans-serif;

    /* COLORS */
    --Dark-Cyan:#0E8784;
    --Dark-Grey-Blue:#333D4B;
    --Pale-Orange:#FDD6BA;
    --Light-Cream:#FEFCF7;
    --Grey:#83888F;
    --button-hover:#66D2CF;
}

img {
    display: flex;
    object-fit: cover;
}

a {
    text-decoration: none;
}

ul , ol {
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var( --main-font-family);
    font-weight: 400;
    line-height: 26px;
}

h1,h2,h3,h4 {
    font-family: var(--heading-font-family);
}

h1 {
    font-size: 72px;
    line-height: 72px;
}

h2 {
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-size: 32px;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}
